/*Universal*/
.orange_hr{
    border: 2px solid rgb(209, 87, 39);
    width: 50px;
    opacity: 1;
    margin: 30px auto;
    color: rgb(209, 87, 39); 
}
.white_hr{
    border: 2px solid white;
    width: 50px;
    opacity: 1;
    margin: 30px auto;
    color: white;
}
.white_text{
    color: white;
}
.black_text{
    color: black;
}
.centered_text{
    text-align: center;
}
.sub_heading{
    text-align: center;
    font-size: 3.5em;
}
.tagline{
    text-align: center;
    font-size: 1.3em;
}

/*Header*/
/*Navbar*/
#header_image{
    position: absolute;
    filter: brightness(.4);
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    z-index: -1;
}
.nav_margin{
    margin-left: 50px;
    margin-right: 50px;
}
/*Intro*/
#intro{
    margin: 12vh auto;
    width: 70%;
}
.main_heading{
    text-align: center;
    font-size: 4.5em;
}
@media only screen and (max-width:890px){
    .main_heading{
        text-align: center;
        font-size: 2.5em;
    }
}
@media only screen and (max-width:500px){
    .main_heading{
        text-align: center;
        font-size: 2em;
    }
}
.custom_orange_button{
    border-radius: 30px;
    color: white;
    background-color: rgb(209, 87, 39);
    border: 0px;
    height: 65px;
    display: block;
    margin: 20px auto auto auto;
}

/*Get Started*/
#getting_started{
    background-color: rgb(209, 87, 39);
    padding: 10%;
}
.custom_white_button{
    border-radius: 30px;
    color: black;
    background-color: white;
    border: 0px;
    height: 65px;
    display: block;
    margin: 20px auto auto auto;
}

/*Services*/
#services{
    margin-top: 80px;
    margin-bottom: 80px;
}
.rem_border{
    border-width: 0px;
}
.cards_img{
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

/*Samples*/
#samples{
    margin-top: 50px;
    margin-bottom: 50px;
}
.sample_img{
    width: 110%;
}

/*Get in touch*/
#get_in_touch{
    width: 45%;
    margin: 100px auto 50px auto;
}
.custom_message{
    height: 100px;
}
.submit_button{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(209, 87, 39);
    border-width: 0px;
}
.phone_img{
    margin-top: 50px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 70px;
}


/*Copyright Info*/
#copyright_info{
    width: 100%;
    height: 150px;
    background-color: rgb(217, 232, 235);
    text-align: center;
    padding-top: 65px;
}